.feature-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
}

.feature-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: left;
    flex: 1;
    max-width: 200px;
    padding: 5px;
    box-sizing: border-box;
    border-right: 1px solid #ccc; /* Add a right border to create a divider */
    margin-right: 5px;
    margin-left: 10px;
}

.feature-item:last-child {
    border-right: none; /* Remove the border from the last item */
}

.feature-icon {
    margin-right: 10px;
    flex-shrink: 0;
}

.feature-icon img {
    width: 30px;
    height: 30px;
}

.feature-item p {
    font-family: 'Arial', sans-serif;
    font-size: 10px;
    color: #333;
    font-weight: bold;
    margin: 0;
    flex-grow: 1;
}
